<launch>

  <arg name="in_bag" default="/media/chur/raposa_bags/NIx/"/>
  <arg name="out_bag" default="/media/chur/raposa_bags/NIx/"/>
  <arg name="topics_to_record" default="-a -x (/os1_cloud_node/points)|(/clock)|(/rosout)|(/rosout_agg)"/>
  <arg name="rate" default="0.25"/>
  <param name="use_sim_time" value="true"/>

 <node pkg="cloud_undensifier" type="cloud_undensifier" name="cloud_undensifier">
    <remap from="in_cloud" to="/os1_cloud_node/points"/>
    <remap from="cloud_undensifier/non_dense" to="/os1_cloud_node/points_non_dense"/> <!-- For mcl3d node-->
    <remap from="cloud_undensifier/dense" to="/os1_cloud_node/points_dense"/>
    <param name="os1_16_levels" value="false"/>
  </node>
<node name="bag_player" type="play" pkg="rosbag" args="$(arg in_bag) --pause --clock -r $(arg rate)" output="screen"/>

<node name="bag_recorder" type="record" pkg="rosbag" args="$(arg topics_to_record) -O $(arg out_bag) " />



</launch>
